<%- include('layout/header') %>

<main>
    <h1>Profile Page</h1>
    <p>Welcome to your profile!</p>
    <p>Here you can update your personal details.</p>
    <!-- Add user details form or other profile-related content here -->
</main>

<%- include('layout/footer') %>
